// 全局样式
// src/styles/_global.scss
@use "./variables" as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
